<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>todo</title>
</head>
<body>
    <div>
        <form method="post" action="/todos">
            <P>タイトル: <input type="text" name="title" /></P>
            <p>内容: <input type="text" name="description" /></p>
            <input type="hidden" name="done" value="false" />
            <p><input type="submit" value="登録" /></p>
        </form>
    </div>
    <div>
        {% for todo in todos %}
        <div>
            <div>
                <p>タイトル:{{todo.title}}</p>
                <p>内容: {{todo.description}}</p>
            </div>
            <!-- 更新 -->
            {% let done = todo.done %}
            {% if done == false %}
                <form method="post" action="/todos/{{todo.id}}/update">
                    <input type="hidden" name="title" value="{{todo.title}}" />
                    <input type="hidden" name="description" value="{{todo.description}}" />
                    <input type="hidden" name="id" value="{{todo.id}}" />
                    <input type="hidden" name="done" value="true">
                    <p><input type="submit" value="完了" /></p>
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>